:root {
  --black: rgb(0, 0, 0);
  --marine: #0c4880;
  --electric-blue: rgb(51, 219, 248);
}

.App {
  width: 100%;
}

header {
  background-image: cover;
  width: 100%;
}

body {
  background: var(--marine);
}

.work-container {
  box-shadow: var(--electric-blue);
}
